<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :cant %>
    <%= f.number_field :cant %>
  </div>

  <div class="field">
    <%= f.label :activo %>
    <%= f.check_box :activo %>
  </div>

  <div class="field">
    <%= f.label :make_id %>
    <%= f.collection_select :make_id, Make.all, :id, :nombre %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
