<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Description</th>
      <th>Price</th>
      <th>Cant</th>
      <th>Activo</th>
      <th>Make</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.nombre %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.cant %></td>
        <td><%= product.activo %></td>
        <td><%= Make.find(product.make_id).nombre %></td>        
        <td class="active"><%= link_to 'Show', product %></td>
        <td class="success"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td class="danger"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
