<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @token.token %>
</p>

<p>
  <strong>Number requests:</strong>
  <%= @token.number_requests %>
</p>

<p>
  <strong>Name:</strong>
  <%= @token.name %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
