<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @make.nombre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @make.description %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @make.activo %>
</p>

<p>
  <strong>Category:</strong>
  <%= @make.category.nombre %>
</p>

<%= link_to 'Edit', edit_make_path(@make) %> |
<%= link_to 'Back', makes_path %>
