<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.nombre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Cant:</strong>
  <%= @product.cant %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @product.activo %>
</p>

<p>
  <strong>Make:</strong>
  <%= @product.make.nombre %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
